# 忽略所有 Python 字节码缓存
__pycache__/
*.pyc

# 若你的项目有子模块或多层目录，可这样写
**/__pycache__/


/logs
/logs
/Restore
/Algorithms/__pycache__
/Algorithms/__pycache__
/Controller/__pycache__
/Envs/__pycache__
/LaunchZone/__pycache__
/Math_calculates/__pycache__
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
/Controller/__pycache__
/Algorithms/__pycache__
/Envs/__pycache__
/Math_calculates/__pycache__
/Math_calculates/__pycache__
/Utilities/__pycache__
/Visualize/__pycache__
/Math_calculates/__pycache__
/Algorithms/__pycache__
/Controller/__pycache__
*.pyc
*.pyc
/__pycache__
/Math_calculates/__pycache__
/Utilities/__pycache__
/Utilities/__pycache__
/Visualize/__pycache__
/Math_calculates/__pycache__
/Math_calculates/__pycache__
/Math_calculates/__pycache__
/Math_calculates/__pycache__
/TrainAndTests/__pycache__
/Envs/__pycache__
*.pyc
