# 忽略所有 Python 字节码缓存
__pycache__/
*.pyc

# 若你的项目有子模块或多层目录，可这样写
**/__pycache__/


/logs
/logs
/Restore
/Algorithms/__pycache__
/Algorithms/__pycache__
/Controller/__pycache__
/Envs/__pycache__
/LaunchZone/__pycache__
/Math_calculates/__pycache__
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
/Controller/__pycache__
/Algorithms/__pycache__
/Envs/__pycache__
/Math_calculates/__pycache__
/Math_calculates/__pycache__
/Utilities/__pycache__
/Visualize/__pycache__
/Math_calculates/__pycache__
/Algorithms/__pycache__
/Controller/__pycache__
*.pyc
*.pyc
/__pycache__
/Math_calculates/__pycache__
/Utilities/__pycache__
/Utilities/__pycache__
/Visualize/__pycache__
/Math_calculates/__pycache__
/Math_calculates/__pycache__
/Math_calculates/__pycache__
/Math_calculates/__pycache__
/TrainAndTests/__pycache__
/Envs/__pycache__
*.pyc
/假回收站/废弃logs
/结果展示/data
/结果展示/logs
/.specstory/history
/TrainAndTests/Controls/test_result
结果展示/ControlTraining.png
/结果展示/outputs
/结果展示/outputs
firing_probability_polar.png
firing_probability_results.npz
firing_probability_target_center.npz
firing_probability_target_center.png
结果展示/outputs/combat_matrix.csv
*.csv
*.png
/TrainAndTests/Controls/aquired_combat_cmds
/TrainAndTests/Controls/adjust
